<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Region</a>
    </nav>

    <div class="row mb-8">
        <div class="col-md-8">
            <div class="card" id="leftcard">
                <div class="card-body">
                    <h5 *ngIf="toggle" class="card-title">Create New Region</h5>
                    <h5 *ngIf="!toggle" class="card-title">Update Region</h5>

                    <div class="overlay">
                        <div class="card" id="topcard">
                            <div class="card-body">
                                <div class="social">
                                    <span><i class="fas fa-user"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="message != null" class="d-flex justify-content-center">
                        <div class="col-md-8 alert alert-info alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="close" (click)="dismissAlert()" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                    <form [formGroup]="regionForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" formControlName="regionName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.regionName.errors}" placeholder="Name of Region">
                                <div *ngIf="submitted" class="invalid-feedback">
                                    <div>Name of region is required</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <select formControlName="regionCounty" class="form-control custom-select" [ngClass]="{ 'is-invalid': submitted && f.regionCounty.errors}">
                                    <option value="" disabled selected>Choose County</option>
                                    <option value="baringo">Baringo</option>
                                    <option value="bomet">Bomet</option>
                                    <option value="bungoma">Bungoma</option>
                                    <option value="busia">Busia</option>
                                    <option value="elgeyo marakwet">Elgeyo Marakwet</option>
                                    <option value="embu">Embu</option>
                                    <option value="garissa">Garissa</option>
                                    <option value="homa bay">Homa Bay</option>
                                    <option value="isiolo">Isiolo</option>
                                    <option value="kajiado">Kajiado</option>
                                    <option value="kakamega">Kakamega</option>
                                    <option value="kericho">Kericho</option>
                                    <option value="kiambu">Kiambu</option>
                                    <option value="kilifi">Kilifi</option>
                                    <option value="kirinyaga">Kirinyaga</option>
                                    <option value="kisii">Kisii</option>
                                    <option value="kisumu">Kisumu</option>
                                    <option value="kitui">Kitui</option>
                                    <option value="kwale">Kwale</option>
                                    <option value="laikipia">Laikipia</option>
                                    <option value="lamu">Lamu</option>
                                    <option value="machakos">Machakos</option>
                                    <option value="makueni">Makueni</option>
                                    <option value="mandera">Mandera</option>
                                    <option value="meru">Meru</option>
                                    <option value="migori">Migori</option>
                                    <option value="marsabit">Marsabit</option>
                                    <option value="mombasa">Mombasa</option>
                                    <option value="muranga">Muranga</option>
                                    <option value="nairobi">Nairobi</option>
                                    <option value="nakuru">Nakuru</option>
                                    <option value="nandi">Nandi</option>
                                    <option value="narok">Narok</option>
                                    <option value="nyamira">Nyamira</option>
                                    <option value="nyandarua">Nyandarua</option>
                                    <option value="nyeri">Nyeri</option>
                                    <option value="samburu">Samburu</option>
                                    <option value="siaya">Siaya</option>
                                    <option value="taita taveta">Taita Taveta</option>
                                    <option value="tana river">Tana River</option>
                                    <option value="tharaka nithi">Tharaka Nithi</option>
                                    <option value="trans nzoia">Trans Nzoia</option>
                                    <option value="turkana">Turkana</option>
                                    <option value="uasin gishu">Uasin Gishu</option>
                                    <option value="vihiga">Vihiga</option>
                                    <option value="wajir">Wajir</option>
                                    <option value="pokot">West Pokot</option>
                                </select>

                                <div *ngIf="submitted" class="invalid-feedback">
                                    <div>County is required</div>
                                </div>
                            </div>
                        </div>
                        <button *ngIf="toggle" type="submit" (click)="onSubmit()" class="btn text-white" id="btn1">SAVE</button>
                        <button *ngIf="!toggle" type="submit" (click)="updateRegion()" class="btn text-white" id="btn1">UPDATE REGION</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="right-card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">LOGGED IN AS</h6>
                    <h5 class="card-title">Robert Kanyoro</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <button type="submit" (click)="onSubmit()" class="btn text-white" id="btn2">EDIT PROFILE</button>
                </div>
            </div>
        </div>
    </div>


    <div id="datatable" class="row">
        <div class="card w-100">
            <div class="card-body">
                <h6 class="card-title">Regions</h6>
                <div class="overlay">
                    <div class="card" id="topcard">
                        <div class="card-body">
                            <div class="social">
                                <span><i class="fas fa-clipboard fa-lg"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="deleteMessage != null" class="d-flex justify-content-center">
                    <div class="col-md-8 alert alert-info alert-dismissible fade show" role="alert">
                        {{deleteMessage}}
                        <button type="button" class="close" (click)="dismissAlert()" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>County</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let region of regions">
                            <td>{{region.regionID}}</td>
                            <td>{{region.regionName}}</td>
                            <td>{{region.regionCounty}}</td>
                            <td><a (click)="onUpdate(region.regionID, region.regionName, region.regionCounty)"><i
                                        class="fas fa-edit bg-success text-white"></i></a><a (click)="deleteRegion(region.regionID)"><i
                                        class="fas fa-trash bg-danger text-white"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>